section.container{
    background-image: url("../../Assets/login-bg.png");
    background-size: cover;
    flex:1;
    text-align: center;
    height: 80vh;
}

section.container h1{
    color: #008B8B;
    font-weight: bold;
}

section.container button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #008B8B;
}

section.container button:hover{
    background-color: #008B8B;
}

